<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="audioRec" value="Default"/>
    <add key="audioPlay" value="Default"/>
    <add key="log" value="1"/>
    <add key="remoteServer" value="192.168.0.112"/>
    <add key="remoteDatabase" value="GestionTelefonica"/>
    <add key="remoteUser" value="root"/>
    <add key="remotePass" value="tG5X57lOWGV8aIdQuR2MBg=="/>
    <add key="centralita" value="192.168.0.112"></add>
    <add key="extension" value="36"/>
    <add key="secret" value="pZzAeqUMynniUXA+wEWMQw=="></add>
    <add key="puerto" value="5060"/>
    <add key="servidorCorreo" value="mail.adealoxica.com"/>
    <add key="usuarioCorreo" value="rpereira@adealoxica.com"/>
    <add key="passCorreo" value="V3qSdyQhXulcZBSDoiUu4w=="/>
    <add key="destinatarioCorreo" value="rpereira@adealoxica.com"/>
    <add key="puertoCorreo" value="25"/>
      <add key="activarCorreo" value="1"/>
  </appSettings>
</configuration>